/* Layout principal */

.app-shell {
    min-width: 0;
}

.app-sidebar {
    flex: 0 0 285px;
    min-width: 285px;
}

.text {
    font-size: 0.80rem;
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color) !important;
}

.app-main {
    min-width: 0;
}

.request-detail-layout {
    align-items: flex-start;
}
